body{
	background-color: #333646;
	
}
.navbar{
	background-color: #FFC25C !important;
	margin:0px;
	padding: 0px;
	position: relative;
}
.navbar-brand{
	padding: 15px;
	font-size: 3rem;
}
.navbar-expand-md .navbar-collapse{
	display: block !important;
	text-align: right;
    margin-right: 5px;
    transition: 0.5s ease;
    padding-bottom: 5px;
}
.navbar-dark .navbar-nav .nav-link{
	color:#252734 !important;
}
img{
	width: 100%;
}
#text{
	width: 75%;
	vertical-align: middle;
	margin-top: 5rem!important
}
#card{
	background-color: rgba(34,34,34,0.6);
    width: 80%;
    margin: auto;
    margin-top: 5.6rem;
    padding: 12px;
    color: white;
    box-shadow: 0 4px 80px #070509;
    transition: 0.7s ease;
   	animation-name: example;
  	animation-duration: 1s;
  	animation-delay: 6s;
}
@keyframes example {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}
#gif{
	width: 25%;
	margin: auto;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}
#opening{
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	width: 100%;
	z-index: 55;
	height: 100%;
	display: none;
	transition: 0.5s ease;
	left: 0%;
}
#hw-text{
	font-size: 6rem;
	font-weight: bolder;
	color: #333646;
}
#hw{
	text-align: center;
}
.card-head{
	top: 0%;
    left: 5%;
    font-size: 4rem;
    position: absolute;
    font-family: sofia;
    color: #ffc25c;
    font-weight: bold;
}
#img{
	width: 20%;
}
.navbar-dark .navbar-brand{
	color:#252734 !important;
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover{
	color: blue;
}
#start{
	font-size: 1.5rem;
}
.nav-item{
	padding: 8px 20px;
}
.nav-item:hover .nav-link{
	color: #FFC25C !important;
	transition: 0.5s ease;
}
.nav-item{
	border-radius: 10px;
}
.nav-item:hover{
	background-color: #252734 !important;
	transition: 0.5s ease;
}
@media only screen and (max-width:991px){
	#card{
		width: 100%;
	}
}

@media only screen and (max-width:767px){
	.card-head{
		position: relative;
		font-size: 3rem;
	}
	.collapse:not(.show) {
		display: none !important;
	}
	.navbar-expand-md .navbar-collapse{
		display:flex ;
		text-align: left;
	}
	#text{
		margin-top: 1.5rem !important
	}
	.navbar-nav{
		float: none !important;
	}
	#hw-text{
		font-size: 4rem;
	}
	#gif{
		width: 50%;
	}
}
@media only screen and (max-width:567px){
	#text{
		float: none !important;
		width: 100%;
		margin-top: 2rem !important;
	}
	.card-head{
		position: absolute;
	}
	#img{
		width: 100%;
	}
	#card{
		width: 80%;
	}
}
@media only screen and (max-width:400px){
	.navbar-brand{
		font-size: 2.5rem;
	}
	#card{
		width: 90%;
	}
}